*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  color: #3B4461;
}

header {
  background-color: #3B4461;
  height: 65vh;
  position: relative;
  text-align: center;
}
header .vertical-align-center {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 2rem;
}
header h1, header h2 {
  font-weight: 400;
  color: #E1EEE0;
  margin: 0;
}
header h1 {
  font-size: 5rem;
  position: relative;
  padding: 0 0.5rem;
  overflow: hidden;
}
header h1 span.typing {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #3B4461;
  border-left: 0.5rem solid #E1EEE0;
  -webkit-animation: cursor 6s steps(22, end);
          animation: cursor 6s steps(22, end);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header h1 span.disappear {
  -webkit-animation: disappear 6s;
          animation: disappear 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header h2 {
  margin-top: 1rem;
  font-size: 3rem;
}

@-webkit-keyframes cursor {
  0% {
    width: 100%;
  }
  40% {
    width: 46.2%;
  }
  55% {
    width: 46.2%;
  }
  57% {
    width: 50%;
  }
  95% {
    width: 0%;
  }
  100% {
    width: 0%;
    visibility: hidden;
  }
}

@keyframes cursor {
  0% {
    width: 100%;
  }
  40% {
    width: 46.2%;
  }
  55% {
    width: 46.2%;
  }
  57% {
    width: 50%;
  }
  95% {
    width: 0%;
  }
  100% {
    width: 0%;
    visibility: hidden;
  }
}
@-webkit-keyframes disappear {
  0% {
    visibility: visible;
  }
  55% {
    visibility: visible;
  }
  57% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes disappear {
  0% {
    visibility: visible;
  }
  55% {
    visibility: visible;
  }
  57% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
.vertical-align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

p, a, ol, ul {
  max-width: 40rem;
}

a {
  text-decoration: none;
  color: #3B4461;
  display: inline-block;
}

a.button {
  position: relative;
  margin: 2rem;
}
a.button span.under-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.15rem solid #3B4461;
  border-radius: 0.2rem;
}
a.button p {
  background-color: #E1EEE0;
  border: 0.15rem solid #3B4461;
  padding: 1rem;
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
  border-radius: 0.2rem;
}

a.button:hover p, a.button:focus p {
  background-color: #8BC7C8;
  -webkit-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

a.button:active p {
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  background-color: #E1EEE0;
  color: #3B4461;
}