doctype html

html(lang="en")
    include includes/head.pug
    
    +head("Who is rubik?")
    body
        header
            .vertical-align-center
                h1 Hello World#[span.disappear !]Wide Web!
                    span.typing
                h2 #[span.rubik rubik] is here
        
        include includes/navbar.pug
        +nav("Who is rubik?")