doctype html

html(lang="en")
    include includes/head.pug
    
    +head("Who is Celine?")
    body
        header
            .vertical-align-center
                h1 Who is #[span.my-name Celine]?
                    span.typing
                h2 Web Designer &amp; Web Developer
        
        include includes/navbar.pug
        +nav("Who is Celine?")

        section#developer-bio
            h2 Hi there, I’m Celine.
            
            p I am a student web designer and developer based in Metro Vancouver, Canada. Having a keen interest in creating for the web, I enjoy building accessible and responsive websites. I care about making a website functional, reliable and usable at its core, with a convenient content design that pleases and elevates the experience of the people who are interacting with it, while having a stunning original look on its surface is a great plus.
            
            p As a strong believer that only good websites can stand out in the World Wide Web and stay longer in the journey, I love seeking to understand what factors contribute to a good website that attracts people to come back, rather than just a one-time piece of technology that escapes their mind with ease and is consigned to oblivion.

        section#contact
            h2 Do you want to have a chat?

            .center
                p Leave me a message with your inquiries and I will get back to you, or just send me a message to say hi :)

                a.button(href="mailto:hathun@sfu.ca")
                    span.under-button
                    p Contact Me
        
        include includes/footer.pug