doctype html

html(lang="en")
    head
        include includes/head.pug
        +head('GitLab Iteration Analyzer')

        script(src="js/typing-normal.min.js" defer)

    body
        header
            .vertical-align-center
                h1.typing GitLab Iteration Analyzer
            
        include includes/navbar.pug
        +nav('GitLab Iteration Analyzer')

        p As part of a software development methodologies course at Simon Fraser University, over the span of 4 months, we, a team of 8 student developers, implemented a web application that assists programming course instructors evaluate students' code contribution within a development team.

        section#project-overview
            h2 Project Overview
            p The main purpose of this 4-month project is to mimic an Agile development team in the real world industry, allowing the students to collaborate with other student developers in a Scrum team, apply software development methods learned from the course, as well as get a hands on practice of the skills and theoretical concepts learned from the previous courses in their degree. It is also an opportunity for students to walk through the whole process of developing an application from start to the end, including requirement analysis, application design and implementation, as well as testing and deployment, while working on a product that would be delivered to the real customer at the end of the course.

        section#analyze
            h2 Requirement Analysis
            p Upon receiving the requirement documents and specifications from the customer, our team had a meeting to analyze and break down the requirements into features for the application. With UI/UX design being my liking, I took initiative and offered to turned the features that we were still brainstorming to a Figma prototype in order for us to better visualize the application's flow.

        section#implementation
            h2 Implementation
            p Having the Figma prototype that I created, the team started to implement the actual application, which was built using Node.js and Express.js for back-end development, and React.js for the front-end development. After a couple of weeks, we had a meeting with the customer for reviews and feedbacks, upon which I adjusted the Figma prototype to reflect the changes.

        section#challenge
            h2 Challenge
            p Beside being the gate-keeper of the UI/UX design of our application, I was a part of the front-end team. Having no previous experience with web development, let alone using React, I had little experience with both the framework and the technical concepts of the web itself, I had to picked up the necessary skills quickly to catch up with my other team members. Luckily, my teammates were really understanding and helped me out a lot with learning React, so by the end of the project, I could have implemented a full page of the application by myself, from the working with the GitLab API to save data in the database, to passing data to the front end and implementing React components to display the content on the page.

        section#result
            h2 result
        
        include includes/footer.pug
