doctype html

html(lang="en")
    include includes/head.pug
    +head('GitLab Iteration Analyzer')

    body
        header
            .vertical-align-center
                h1 GitLab Iteration Analyzer
                    span.typing.no-interrupt
            
        include includes/navbar.pug
        +nav('GitLab Iteration Analyzer')