doctype html

html(lang="en")
    include includes/head.pug

    body
        header
            .vertical-align-center
                h1 Hello World#[span.disappear !]Wide Web!
                    span.typing
                h2 rubik is here
        
        p THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG; the quick brown fox jumps over the lazy dog.

        a.button(href="#")
            span.under-button
            p Default Button