doctype html

html(lang="en")
    head
        include includes/head.pug
        +head('Celine\'s Portfolio')

        script(src="js/typing-interrupting.min.js" defer)
        script(src="js/hide-navbar-on-scroll.min.js" defer)

    body
        header
            h1.typing Hello World Wide Web!
            h2#subtitle-homepage #[span.my-name Celine] is here
            
        include includes/navbar.pug
        +nav('Celine\'s Portfolio')

        main
            include includes/scroll-down-msg.pug
            +scroll-down-msg("Check out Celine's past projects below!")

            section#web-dev
                a.project.first-item.last-item(href="gitlab_analyzer.html")
                    img(src="img/GitLabAnalyzer-min.png" width="1000" height="1000" alt="GitLab Iteration Analyzer project thumbnail")
                    h2 GitLab Iteration Analyzer
                    p A web application that helps programming course instructors evaluate students' code contribution in a development team.
                    .opacity-layer

        include includes/footer.pug