doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title Portfolio Homepage

        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/main.css")

        script(src="js/script.min.js")

    body
        h1 Portfolio Homepage
        h2 Homepage subtitle