doctype html

html(lang="en")
    include includes/head.pug
    +head('Celine\'s Portfolio')

    body
        header
            .vertical-align-center
                h1 Hello World#[span.disappear !]Wide Web!
                    span.typing-interrupting
                h2 #[span.my-name Celine] is here
            
        include includes/navbar.pug
        +nav('Celine\'s Portfolio')

        section#web-dev
            a.project(href="gitlab_analyzer.html")
                img(src="img/GitLabAnalyzer.png" width="1000" height="1000" alt="GitLab Iteration Analyzer project thumbnail")
                h2 GitLab Iteration Analyzer
                p A web application that helps programming course instructors evaluate students' code contribution in a development team.
                .opacity-layer
        
        section#other
            section#mobile
            section#uiux

        include includes/footer.pug