footer
    p This website uses #[a(href="https://fonts.google.com/specimen/Rubik") Rubik] font from  #[a(href="https://fonts.google.com/") Google Fonts]. Special thanks to Andrew Hawryshkewich for walking me through making the typing animation at the header of the page.