footer
    p This website uses #[a(href="https://fonts.google.com/specimen/Rubik") Rubik] font from  #[a(href="https://fonts.google.com/") Google Fonts]. Special thanks to Andrew Hawryshkewich, senior lecturer at School of Interactive Arts and Technology at SFU, for walking me through making the typing animation at the header of the page.