mixin nav(title)
    nav.grid
        if title == 'Who is Celine?'
            a.nav-item.active-item(href="./about_me.html")
                span.bigger.vertical-align-center Who is Celine?
            a.nav-item(href="./")
                span.bigger.vertical-align-center Celine's Portfolio
        else if title == 'Celine\'s Portfolio'
            a.nav-item(href="./about_me.html")
                span.bigger.vertical-align-center Who is Celine?
            a.nav-item.active-item(href="./")
                span.bigger.vertical-align-center Celine's Portfolio
        else
            a.nav-item(href="./about_me.html")
                span.bigger.vertical-align-center Who is Celine?
            a.nav-item(href="./")
                span.bigger.vertical-align-center Celine's Portfolio
            